
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(90deg, rgba(9, 32, 63, 1) 0%, rgba(83, 120, 149, 1) 100%);
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 20px;
  text-align: center;
}


.dark-mode {
  background: #0d1117;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode p {
  color: white;
}

.dark-mode .contact-item {
  background: #FCFCFC;
}


.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  margin: 20px;
  z-index: 10;
  min-height: 60px;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.nav ul li {
  margin: 0 1rem;
}

.nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav ul li a:hover {
  color: #b5d3e7;
}


#app {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 80px;
}


.theme-toggle {
  cursor: pointer;
}


.profile-pic {
  width: 200px;
  height: 200px;
  background-color: #172e49;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.profile-pic img {
  width: 100%;
  height: auto;
}


.contact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 2rem;
  margin-top: 20px;
  width: 90%;
  justify-items: center;
}

.contact-item {
  position: relative;
  background: #FCFCFC;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}

.contact-item img {
  width: 50px;
  height: auto;
  cursor: pointer;
}

.contact-item:hover {
  transform: translateY(-5px);
}


.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  border-radius: 4px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 20;
}



.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.project-card {
  background-color: #2d3a4f;
  border-radius: 8px;
  padding: 20px;
  width: 280px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #f4f4f4;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.project-card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.project-card.expanded {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background: rgba(45, 58, 79, 0.9);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tags {
  margin-top: 10px;
}

.tag {
  display: inline-block;
  padding: 5px 8px;
  margin: 3px;
  border-radius: 4px;
  background-color: #ffffff; 
  color: #22333D; 
  font-size: 0.8em;
  transition: background-color 0.3s, color 0.3s;
}

.tag:hover {
  background-color: #f0f0f0; 
}


.contact-item:hover .tooltip {
  visibility: visible;
  opacity: 1;
}


:root {
    
}


[data-theme='dark'] {
    
}
